<h2>Relevant Projects</h2>
<div class="Projects">
    <div class="container">
        <div class="fila">
            <div class="columna-25 columna-tablet-50 columna-mobile-100" style="text-align: center; background-color: black; color: white; border-color: white;"> <h3> Support system for the <br> Unired-ITESO student collective</h3></div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p>
                    Web application developed to support the Unired ITESO student group in the management and storage of data collected in support requests and disaster reports.
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p> 
                    Programmed a functional web application using <b>JavaScript</b>, <b>HTML</b> and <b>CSS</b>. 
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100">
                <img src="./../../../assets/unired logo azul.png" alt="UNIRED-LOGO">
            </div>
        </div>
        
        <div class="fila">
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="title"><h3>Tunes for you</h3></div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p>
                    A system that recommends new musicians, music genders and songs based on the users preferences.
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p> 
                    Programmed a music recommendation system using <b>Python</b> and an Excel external library.
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100">
                <img src="./../../../assets/Tunes-For-You-LOGO.png" alt="Tunes-For-You-LOGO">
            </div>
        </div>

        <div class="fila">
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="title"><h3>AR Education App</h3></div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p>
                    An app imagined to teach about the jobs that helped the most during the pandemic.
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p> 
                    Completed project planning for an augmented reality app using <b>echoAr</b> - a <b>cloud-based 3D-first content management system</b>. 
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100">
                <img src="./../../../assets/AR-Education-LOGO.jpg" alt="">
            </div>
        </div>

        <div class="fila">
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="title"><h3>Instrument Master</h3></div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p> 
                    A web service designed for kids to learn differentiate between different instrument sounds. 
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100" id="projects-text">
                <p>
                    Developed the web service prototype that integrated a <b>machine learning model</b> using Google's Teachable Machine tool. 
                </p>
            </div>
            <div class="columna-25 columna-tablet-50 columna-mobile-100">
                <img src="https://i.postimg.cc/1XjLMXkW/image.png" alt="Instrument-Master-Logo">
            </div>
        </div>

    </div>

</div>
