<header>
    <nav>
        <ul>
            <li><a routerLink="/">
                <strong><img src="./../../../assets/LAMEGO-LOGO.jpg" alt="LAMEGO" style="height: 80px;"></strong></a>
            </li>
            <li><a style="padding: 40px;" routerLink="/education">Education</a></li>
            <li><a style="padding: 40px;" routerLink="/projects">Projects</a></li>
            <li><a style="padding: 40px;" routerLink="/extracurricular">Extracurriculars</a></li>
            <li><a style="padding: 40px;" routerLink="/contact">Contact Information</a></li>
        </ul>
    </nav>

</header>
 