<div id="Extracurriculars">
    <h2>Extracurriculars</h2>
    <div class="container1">
        <div class="extracu">
            <p>Participated on the tech education program for female empowerment Technovation Girls from January - April 2019. I developed the proof of concept of an app in the <b>MIT App Inventor platform</b>.</p>
            <p>Completed the 20 hr. workshop of the initial maker education  hosted by Netica and UVM's Center for Research, Innovation and Technological Development in December 2018. I learned the basics of <b>Arduino and electrical wiring</b>.</p>
        </div>
    </div>
</div>

<div id="AC">
    <h2>Awards and Certifications</h2>
    <div class="container1">
        <div class="AC">
            <ul>
                <li>Expert level in usage of tools for Digital Marketing. Mayahii, May 2020.</li>
                <li>Pass with Distinction in the Preliminary English Test B2. University of Cambridge, May 2017.</li>
            </ul>

            <p id="scholarships"><b>Scholarships</b></p>
            <ul id="scholarships">
                <li>Recipient of Academic Excellence Scholarship at ITESO.</li>
                <li>Recipient of 2020 Andy Grove Scholarship for Intel Employees' Children.</li>
            </ul>

        </div>
    </div>
</div>
