<div id="Contact">
    <h2>Contact Information</h2>
    <div class="container1">
            <div id="forms-item">
                <form>
                    <br>
                    <label for="name">Your name:</label> <br>
                    <input type="text" id="name" name="name"> <br>
                    <br>
                    <label for="topic">Topic:</label> <br>
                    <input type="text" id="topic" name="topic"> <br>
                </form>
            </div>
            <div id="forms-item2">
                <br>
                <label for="comments">How can I help?:</label> <br> <br>
                <textarea name="comments"></textarea>
                <br> <br>
                <button onclick="location.href='mailto:mariana.lamegos@iteso.mx';">Send mail</button>
                <br>
            </div>
            <div id="forms-item3">
                <ul>
                    <li>Phone number: 33188 30727</li>
                    <li>Mail: <a href="mailto:mariana.lamegos@iteso.mx">mariana.lamegos@iteso.mx</a></li>
                    <li> <a href="https://devpost.com/L4m3g0?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">DEVPOST</a> </li>
                    <li>Zapopan, Jalisco, México.</li>
                    <li><a href="https://github.com/LamegoMariana">GitHub</a></li>
                </ul>
            </div>
    </div>
</div>
