<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamego</title>
    <link rel="stylesheet" href="../../dist/css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="LAM3GO.html"><strong>LAMEGO</strong></a></li>
                <li><a href="#Education">Education</a></li>
                <li><a href="#Skills">Skills</a></li>
                <li><a href="Projects.html">Projects</a></l>
                <li><a href="Extracurriculars.html">Extracurriculars</a></li>
                <li><a href="#Contact">Contact Information</a></l>
            </ul>
        </nav>
    </header>
    

    <main>

        <div id="Extracurriculars">
            <h2>Extracurriculars</h2>
            <div class="container1">
                <div class="extracu">
                    <p>Participated on the tech education program for female empowerment Technovation Girls from January - April 2019. I developed the proof of concept of an app in the <b>MIT App Inventor platform</b>.</p>
                    <p>Completed the 20 hr. workshop of the initial maker education  hosted by Netica and UVM's Center for Research, Innovation and Technological Development in December 2018. I learned the basics of <b>Arduino and electrical wiring</b>.</p>
                </div>
            </div>
        </div>

        <div id="AC">
            <h2>Awards and Certifications</h2>
            <div class="container1">
                <div class="AC">
                    <ul>
                        <li>Expert level in usage of tools for Digital Marketing. Mayahii, May 2020.</li>
                        <li>Pass with Distinction in the Preliminary English Test B2. University of Cambridge, May 2017.</li>
                    </ul>

                    <p id="scholarships"><b>Scholarships</b></p>
                    <ul id="scholarships">
                        <li>Recipient of Academic Excellence Scholarship at ITESO.</li>
                        <li>Recipient of 2020 Andy Grove Scholarship for Intel Employees' Children.</li>
                    </ul>

                </div>
            </div>
        </div>

        <div id="Contact">
            <h2>Contact Information</h2>
            <div class="container1">
                    <div id="forms-item">
                        <form>
                            <br>
                            <label for="name">Your name:</label> <br>
                            <input type="text" id="name" name="name"> <br>
                            <br>
                            <label for="topic">Topic:</label> <br>
                            <input type="text" id="topic" name="topic"> <br>
                        </form>
                    </div>
                    <div id="forms-item2">
                        <br>
                        <label for="comments">How can I help?:</label> <br> <br>
                        <textarea name="comments"></textarea>
                        <br> <br>
                        <button onclick="location.href='mailto:mariana.lamegos@iteso.mx';">Send mail</button>
                        <br>
                    </div>
                    <div id="forms-item3">
                        <ul>
                            <li>Phone number: 33188 30727</li>
                            <li>Mail: <a href="mailto:mariana.lamegos@iteso.mx">mariana.lamegos@iteso.mx</a></li>
                            <li> <a href="https://devpost.com/L4m3g0?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">DEVPOST</a> </li>
                            <li>Zapopan, Jalisco, México.</li>
                            <li><a href="https://github.com/LamegoMariana">GitHub</a></li>
                        </ul>
                    </div>
            </div>
        </div>
        
        <hr color="white">
    </main>

    <footer>ITESO 2023 &copy; Programación de Aplicaciones de Escritorio 
        <div> <i>Descartada</i>  by Antonio "Tony" Rodriguez</div>
    </footer>
</body>
</html>
