<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamego</title>
    <link rel="stylesheet" href="../../dist/css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#"><strong>LAMEGO</strong></a></li>
                <li><a href="#Education">Education</a></li>
                <li><a href="#Skills">Skills</a></li>
                <li><a href="Projects.html">Projects</a></l>
                <li><a href="Extracurriculars.html">Extracurriculars</a></li>
                <li><a href="#Contact">Contact Information</a></l>
            </ul>
        </nav>
    </header>
    

    <main>

        <section id="Presentation">
            <h1>Mariana Lamego Soriano</h1>
        </section>
        

        <section id="Education">
            <h2>Education</h2>
            <div class="container1">
                <div>
                    <img id="logo"  src="../../dist/img/Logo-ITESO.png" alt="Logo-ITESO">
                    <aside id="education">
                    <p style="font-weight: bold;">Instituto Tecnológico y de Estudios Superiores de Occidente</p>
                    <span>Bachelor's degree - Computer Systems Engineering.</span> &emsp; &emsp; &emsp; &emsp; <span>Entered August 2020 - present</span>
                    <br> <br>
                    <span>Expected graduation date - June 2024.</span> &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp; <span>GPA: 9.27 out of 10</span>
                    </aside>
                </div>
                
            </div>
        </section>

        <section id="Skills">
            <h2>Skills</h2>
            <div class="container1">
                <div id="technical-skills">
                    <p style="font-weight: bold;">Technical </p>
                    <ul>
                        <li>Python: +2 years.</li>
                        <li>C: +2 years.</li>
                        <li>Java: 1 year.</li>
                        <li>HTML: 1 year.</li>
                        <li>CSS: 1 year.</li>                      
                    </ul>                 
                </div>
                <div id="technical-skills2">
                    <hr color="#D4F1FF"><hr color="#D4F1FF"><hr color="#D4F1FF"><hr color="#D4F1FF">
                    <ul>
                        <li>JavaScript: 1 year.</li>
                        <li>Visual Studio Code: 1 year.</li>
                        <li>2D and 3D design.</li>
                        <li>Multimedia production.</li>
                    </ul>                  
                </div>
            </div>
        </section>


        <section id="Contact">
            <h2>Contact Information</h2>
            <div class="container1">
                    <div id="forms-item">
                        <form>
                            <br>
                            <label for="name">Your name:</label> <br>
                            <input type="text" id="name" name="name"> <br>
                            <br>
                            <label for="topic">Topic:</label> <br>
                            <input type="text" id="topic" name="topic"> <br>
                        </form>
                    </div>
                    <div id="forms-item2">
                        <br>
                        <label for="comments">How can I help?:</label> <br> <br>
                        <textarea name="comments"></textarea>
                        <br> <br>
                        <button onclick="location.href='mailto:mariana.lamegos@iteso.mx';">Send mail</button>
                        <br>
                    </div>
                    <div id="forms-item3">
                        <ul>
                            <li>Phone number: 33188 30727</li>
                            <li>Mail: <a href="mailto:mariana.lamegos@iteso.mx">mariana.lamegos@iteso.mx</a></li>
                            <li> <a href="https://devpost.com/L4m3g0?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">DEVPOST</a> </li>
                            <li>Zapopan, Jalisco, México.</li>
                            <li><a href="https://github.com/LamegoMariana">GitHub</a></li>
                        </ul>
                    </div>
            </div>
        </section>
        
        <hr color="white">
    </main>

    <footer>ITESO 2023 &copy; Programación de Aplicaciones de Escritorio 
        <div> <i>Descartada</i>  by Antonio "Tony" Rodriguez</div>
    </footer>
</body>
</html>
