<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamego</title>
    <link rel="stylesheet" href="../../dist/css/estilos.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="LAM3GO.html"><strong>LAMEGO</strong></a></li>
                <li><a href="Projects.html">Projects</a></l>
                <li><a href="Extracurriculars.html">Extracurriculars</a></li>
                <li><a href="#Contact">Contact Information</a></l>
        </nav>
    </header>
    

    <main>

        <div id="Projects">
            <h2>Relevant Projects</h2>
            <div class="container">
                <div style="text-align: center;"> <p> Support system for the <br> Unired-ITESO student collective</p></div>
                <div class="title">Tunes for you</div>
                <div class="title">AR Education App</div>
                <div class="title">Instrument Master</div>
                <div class="projects-text">
                    <p >
                         Web application developed to support the Unired ITESO student group in the management and storage of data collected in support requests and disaster reports.
                    </p>
                </div>
                <div class="projects-text">
                    <p>
                        A system that recommends new musicians, music genders and songs based on the users preferences.
                    </p>
                </div>
                <div class="projects-text">
                    <p>
                        An app imagined to teach about the jobs that are helping the most during the pandemic.
                    </p>
                </div>
                <div class="projects-text">
                    <p> A web service designed for kids to learn differentiate between different instrument sounds. 
                    </p>
                </div>
                <div class="projects-text">
                    <p> Programmed a functional web application using <b>JavaScript</b>, <b>HTML</b> and <b>CSS</b>. 
                    </p>
                </div>
                <div class="projects-text">
                    <p> Programmed a music recommendation system using <b>Python</b> and an Excel external library.                        . 
                    </p>
                </div>
                <div class="projects-text">
                    <p> Completed project planning for an augmented reality app using <b>echoAr</b> - a <b>cloud-based 3D-first content management system</b>. 
                    </p>
                </div>
                <div class="projects-text">
                    <p>Developed the web service prototype that integrated a <b>machine learning model</b> using Google's Teachable Machine tool. 
                    </p>
                </div>
            </div>
        </div>


        <div id="Contact">
            <h2>Contact Information</h2>
            <div class="container1">
                    <div id="forms-item">
                        <form>
                            <br>
                            <label for="name">Your name:</label> <br>
                            <input type="text" id="name" name="name"> <br>
                            <br>
                            <label for="topic">Topic:</label> <br>
                            <input type="text" id="topic" name="topic"> <br>
                        </form>
                    </div>
                    <div id="forms-item2">
                        <br>
                        <label for="comments">How can I help?:</label> <br> <br>
                        <textarea name="comments"></textarea>
                        <br> <br>
                        <button onclick="location.href='mailto:mariana.lamegos@iteso.mx';">Send mail</button>
                        <br>
                    </div>
                    <div id="forms-item3">
                        <ul>
                            <li>Phone number: 33188 30727</li>
                            <li>Mail: <a href="mailto:mariana.lamegos@iteso.mx">mariana.lamegos@iteso.mx</a></li>
                            <li> <a href="https://devpost.com/L4m3g0?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav">DEVPOST</a> </li>
                            <li>Zapopan, Jalisco, México.</li>
                            <li><a href="https://github.com/LamegoMariana">GitHub</a></li>
                        </ul>
                    </div>
            </div>
        </div>
        
        <hr color="white">
    </main>

    <footer>ITESO 2023 &copy; Programación de Aplicaciones de Escritorio 
        <div> <i>Descartada</i>  by Antonio "Tony" Rodriguez</div>
    </footer>
</body>
</html>
