<section class="Buscador">
    <h3>Ingresa tu búsqueda a continuación →</h3>
    <form action="">
        <input type="text" class="txt-keyWord" id="txtKeyWord">
        <input type="submit" class="bt-buscar" id="btBuscar" value="Buscar">
    </form>
    
</section><!--Axios-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"></script>
<!--Integración (conexión a js de búsqueda)-->
<script src="./../scripts/resultados.js"></script>