<section>
    <h3>.</h3>
    <h3>.</h3>
</section>
<section class="results">
    {{#each articles}}
    <div class="col-12-sm col-4-md col-3-lg">
        <div class="card m-2">
            <img class="card-image-top" src="{{urlToImage}}" alt="Imagen representativa de la noticia">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="{{url}}" target="_blank">Ver más</a>
            </div>
        </div>
    </div>
    {{/each}}
</section>
<input type="submit" class="bt-regresar" id="bt-regresar" value="Regresar" 
    onclick="location.href='/?token=123'">