<h3>Resultados</h3>
<section id="results">
    {{keyWord}}
</section>
<input type="submit" class="bt-regresar" id="bt-regresar" value="Regresar" 
    onclick="location.href='/?token=123'">
<!--Axios-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"></script>
<!--Integración (conexión a js de búsqueda)-->
<script src="./../../dist/scripts/resultados.js"></script>