@import '/src/sass/mixins.scss';

h2 {
    @include cellphone-view {
        font-size: 22px;
    }
}

.container {
    width: 100%;
    margin-top: 30px;
    text-align: center;

    img#logo {
        height: 200px;
    }

    p {
        text-align: center;
        @include cellphone-view {
            padding-left: 5%;
            text-align: left;
        }
    }
}
