<h2>About me</h2>

<div class="container">
    <div id="foto">
        <img src="./../../../assets/NARCISO.gif" alt="Lamego">
    </div>

    <div id="texto">
        <h3 style="text-align: center;"><i>☽ Computer systems engineer working at ITESO ☾</i></h3>
        <p>
            I am an undergraduate student whose aspirations revolve around peace and the way to
            achieve it through technology and art. I look forward to take part in all I can in 
            order to make our planet a happier and safer place for all organisms coexisting on its surface.
        </p> 
        <p>
            I am currently in charge of quality control and technical support at the Ulab (Movil App Lab) at ITESO's Technological Park.
        </p> 
    </div>
</div>

