<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="./../../../dist/css/estilos.css">
</head>
<body>
    <header class="title">
        <h1 id="saludo">"Noticias" c:</h1>
    </header>
    <section class="content">
        {{{body}}}
    </section>
    <section>
        <footer>ITESO 2023 &copy; Programación de Aplicaciones de Escritorio |
        <i>Fallen Angel</i>  by Alexander Cabanet
        </footer>
    </section>
    
</body>
</html>